body {
    margin: 0;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(212, 23%, 69%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 250px 500px;
    width: 750px;
    height: 300px;
    margin: 100px auto;
}

.image {
    width: 250px;
    height: 300px;
}

.image img {
    width: 250px;
    height: 300px
}

.contenido {
    width: 500px;
    height: 300px;
    /* padding: 30px; */
}

.title {
    font-weight: 700px;
    font-size: 22px;
    margin: 25px 25px 0;
    padding: 0;
    color: hsl(214, 17%, 51%);
    line-height: 1.5;
    word-spacing: 5px;
    text-align: left;
}

.text-info {
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    margin: 10px 25px 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-grow: 20;
}

.contacto {
    width: 200px;
    margin: 25px 25px 0;
}

.avatar {
    border-radius: 100%;
    margin: 10px 0;
    padding: 0;
    width: 50px;
}

.name {
    position: absolute;
    top: 320px;
    left: 620px;
    color: hsl(214, 17%, 51%);
    font-weight: bold;
    font-size: 15px;
}

.date {
    position: absolute;
    top: 340px;
    left: 620px;
    color: hsl(212, 23%, 69%);
    font-size: 13px;
}

.dropdown {
    margin: 45px 0 0 200px;
    position: relative;
    display: inline-block;
}

.btn-dropdown {
    position: relative;
    background-color: hsl(210, 46%, 95%);
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}



.dropdown-contenido {
    display: none;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    width: 200px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: hsl(210, 46%, 95%);
    padding: 15px 0 0 15px;
    bottom: 80px;
    height: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 0;
    left: -45px;
}

.dropdown-contenido::after {
    content: "";
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transform: rotate(45deg);
    bottom: -10px;
    left: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%)
}

.opciones {
    display: inline;
    margin-right: 20px;
}

.dropdown-contenido span {
    text-transform: uppercase;
    font-size: 13px;
    color: hsl(214, 17%, 51%);
}

.aparecer {
    display: block;
}

@media (max-width: 768px) {
    .container {
        background-color: hsl(0, 0%, 100%);
        display: grid;
        grid-template-rows: 250px 500px;
        width: 300px;
        height: 580px;
        margin: 75px 30px;
    }

    .image {
        width: 300px;
        height: 250px;
    }

    .image img {
        width: 300px;
        height: 250px;
    }

    .contenido {
        grid-row: 2;
        width: 300px;
        height: 500px;
        /* padding: 30px; */
    }

    .title {
        font-weight: 700px;
        font-size: 18px;
        padding: 0;
        color: hsl(214, 17%, 51%);
        line-height: 1.5;
        word-spacing: 3px;
        text-align: left;
    }

    .name {
        position: absolute;
        top: 575px;
        left: 100px;
        color: hsl(214, 17%, 51%);
        font-weight: bold;
        font-size: 15px;
    }

    .date {
        position: absolute;
        top: 590px;
        left: 100px;
        color: hsl(212, 23%, 69%);
        font-size: 13px;
    }

    .dropdown {
        margin: 30px 0 0 100px;
    }


    .btn-dropdown:focus {
        z-index: 10;
    }

    .img-compartir:focus {
        z-index: 10;
        color: white;
    }

    .btn-dropdown:after {
        background-color: hsl(212, 23%, 69%);
        color: white;
    }

    .dropdown-contenido {
        display: none;
        position: absolute;
        width: 285px;
        height: 50px;
        margin: 0;
        left: -260px;
        top: 7px;
    }

    .aparecer {
        display: block;
    }
}